//=== color===
$green:  rgb(44, 212, 44);
$light-green: rgb(41, 247, 93);
$light-white:#f8f8f8;
$light-black:#333;


//===sizes===
$x-small:0.5rem;
$normal:1.3rem;
$small:1.6rem;
$medium:2rem;
$large:3rem;
$x-large:5rem;
$xx-large:7rem;

//===border-radius===
$border-main:35px;

//==breakpoint===
$largeScreen:1024px;
$mediumScreen:764px;
$smallScreen:641px;
$x-smallScreen:480px;